<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <div class="cont-tarjetas">
        <div class="tarjetas" id="card">
            <div class="contenedor-tarjetas">
                <a href="#">
                    <figure>
                        <img src="{{ imagen }}" class="frontal" alt="">
                            <figcaption class="trasera">
                                <h2 class="titulo">{{ titulo }}</h2>
                                <hr>
                                <p>{{ categoria }}</p>
                            </figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </div>
</div>