<!-- Abro trabajo de Footer -->

<div class="footer-items">
    <div class="box one">
        <h1>Sobre Mi</h1>
        <hr>
        <div class="content">
            <p>Mi nombre es Giselle Ferrari y este es mi pequeño emprendimiento
            de Repostería - Pastelería. Moonlight's Bakery.
            Este emprendimiento lleva mi pasión por este maravilloso mundo de la dulzura.                    
            ¡Les agradezco por el apoyo que siempre nos brindan!</p>
            <div class="readmore">
                <button routerLink="/sobremi" title="Leer más">Leer más</button>
            </div>
        </div>
    </div>
    <div class="box two">
        <h1>Dirección</h1>
        <hr>
        <div class="content">
            <div class="palce">
                <a href="https://goo.gl/maps/mKBvj2hZwEm64d1R9"><span class="fas fa-map-marker-alt" title="Dirección"></span></a>
                <span *ngIf="mostrar" class="text"> Munro, Buenos Aires</span>
            </div>
            <div class="phone">
                <span class="fas fa-phone-alt" title="Teléfono"></span>
                <span class="text"> Arg +54 11 2222 3333</span>
            </div>
            <div class="email">
                <span class="fas fa-envelope" title="E-mail"></span>
                <span class="text"> moonlightsbakery@gmail.com</span>
            </div>
        </div>
    </div>
    <div class="box three">
        <h1>Siguenos</h1>
        <hr>
        <div class="content">
            <a href="https://www.facebook.com/moonlightsbakery.ar/" title="Facebook"><span class="fab fa-facebook"></span></a>
            <span>moonlightsbakery.ar</span>
            <br>
            <a href="https://www.instagram.com/moonlights.bakery/" title="Instagram"><span class="fab fa-instagram"></span></a>
            <span>moonlights.bakery</span>                    
        </div>
    </div>
    <div class="box four">
        <h1>Contacto</h1>
        <hr>
        <div class="content">
            <form action="#">
                <div class="email">
                    <label class="text" for="email">Email *</label>
                    <input id="email" type="text" name="Email" required="">
                </div>
                    <label class="msg" for="msg">Mensaje</label>
                    <textarea cols="25" rows="2" id="msg" required=""></textarea>
                <button>Enviar</button>
            </form>
        </div>
    </div>

</div> 
<div class="end">
    <p>Creado por |<span class="gf"> Giselle Ferrari</span> all©Right2021</p>
</div>

