<div class="contenido" id="contenido">
    <p class="texto">Mi nombre es Giselle Ferrari y este es mi pequeño emprendimiento de Repostería - Pastelería. Moonlight's Bakery.
        Estaremos haciendo todos nuestros productos a pedido y realizaremos envíos por Vicente López/Munro/Villa Adelina/Martinez/Olivos.
        Este emprendimiento lleva mi pasión por este maravilloso mundo de la dulzura. Todos los productos exhibidos fueron elaborados para eventos especiales.
        Nuestros clientes han dejado comentarios y críticas muy favorables, dándonos su gran apoyo y amor.
        Nos especializamos en tartas dulces, tortas, galletas, postres fríos/helados, entre otras.
        Sepan que ante cualquier duda, siempre pueden consultarme ya sea por este medio o por mi página de Instagram @Moonlights.bakery.
        Si necesitas algún postre en particular, sepan también que pueden solicitarlo. Toda consulta es sin compromiso y los precios de cada producto será otorgado por privado.
        ¡Les agradezco por el apoyo que siempre nos brindan!</p>
    <img src= "{{ retrato }}" alt="retrato" id="retrato">
</div>