.sronly {
    position: absolute!important;
    height: 1px;
    width:  1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    
 }
 .sronly:focus {
    display: block;
    height: 40px;
    width:  25%;
    position: relative;
    top: 0;
    left: 0;
    clip: auto;
    text-decoration: none;
    background-color: #0AA883;
    padding: 0 0 15px 0;
    
    
 }
 .sronly:hover {
    text-decoration: underline;
 
 }
 .skiptext{
    font: 20px arial;
    text-align: center;
    color: black;
 
 }


.searchBot{
    display: none;
        @media (max-width:900px){
            display: block;
            text-align: right;
        }
}