#home {
    background: fixed border-box url(/assets/images/fondo/BBGG.jpg) top 30% left 50%/cover;
    height: 100%;
    width: 100%;
        @media (max-width: 900px) {
            background: fixed border-box url(/assets/images/fondo/BBGG.jpg) top 30% left 50%/cover;
        }
        @media (max-width: 767px) {
            background: fixed border-box url(/assets/images/fondo/BBGG.jpg) top 30% left 50%/cover;
        }
        @media (max-width: 370px) {
            background: fixed border-box url(/assets/images/fondo/BBGG.jpg) top 30% left 50%/cover;
        }
}

.logo {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slider {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}