<main> 
    <div class="bloque-imagen">
        <div class="contenedor">
            <h2>Contacto 🍰</h2>
            <form name="contact">

                <label >
                    Nombre:
                    <input class="cont-items cont-large" type="text" placeholder="Coloque su nombre" required="">
                </label>
                <label >
                    E-mail ✉:
                    <input class="cont-items cont-large" type="email" placeholder="Coloque su E-mail" required="">
                </label>               
                <label >
                    Comentarios:
                    <textarea class="cont-items" id="box-comment" placeholder="Comentarios..." required=""></textarea>
                </label>

                <br>

                <div class="cont-items">
                    <input class="buttom-cont" type="submit" value="Enviar">
                    <input class="buttom-cont" type="reset" value="Limpiar">
                </div>
                
                <img src= "{{ contacto }}" alt="contacto" id="zorrito">

            </form>

        </div>
    </div>

     
</main>