.encabezado {
    display: flex;
    justify-content: center;
    background-color: #EDDACA;
    text-align: center;
    color: rgb(0, 0, 0);
}

.logo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;    
    position: relative;
    z-index: 1;
}

.menu-item {
    flex-grow: 1;
}

.menu-item_link {
    display: block;
    padding: 8px 0;
    text-align: center;
}

.menu-item_link:hover {
    background-color: beige;
}


/* ESTILOS GENERALES DEL MENU - Se aplican a todos los niveles*/

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    line-height: 3rem;
    position: relative;
}

.menu ul {
    position: absolute;
}

nav a {
    color: rgb(0, 0, 0);
    display: block;
    padding: 0 3.093em;
    text-decoration: none;
    transition: .4s;
}

nav a:hover {
    color: white;
    background: rgba(0,0,0,.5);
    border-radius: 30px;
}

/* PRIMER NIVEL - Se aplican solamente a los Item*/

.menu {
    background:#EDDACA;
    display: table;
    width: 100%;
    margin: auto;
    padding: 0;
    max-width: 1200px;
    border-radius: 30px;
}

.menu > li {
    float: left;
}

/* SEGUNDO NIVEL - Se aplican solamente a los Subitem*/

nav li li {
    background: #7b7b7b;
    max-height: 0;
    overflow: hidden;
    transition: all .6s;
    width: 200px;
}

nav li li a {
    color: white;
}

nav li:hover >ul > li {
    max-height: 1000px;
    overflow: visible;
}

.menu > li > ul {
    top: 100%;
}

/* TERCER NIVEL - Se aplican solamente a los Sub subitem*/

.menu ul ul {
    left: 100%;
    top: 0;
}

nav li li li {
    transition: all -.6s;
}