.recetas {
    display: -webkit-inline-box;
}

button {  
    display: -webkit-inline-box;
    display: block;
    padding: 8px 0;
    color: rgb(0, 0, 0);
    background: #EDDACA;
    display: block;
    padding: 0 3.093em;
    text-decoration: none;
    transition: .4s;
    line-height: 3rem;
    position: relative;
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
        &:hover {
            color: white;
            background: rgba(0, 0, 0, 0.6);
            border-radius: 30px;
        }
}


// Botón con ToggleInformation


#dulces {
    background: fixed border-box url(/assets/images/fondo/BBGG.jpg) top 30% left 50%/cover;
    height: 100%;
    width: 100%;
        @media (max-width: 900px) {
            background: fixed border-box url(/assets/images/fondo/BBGG.jpg) top 30% left 50%/cover;
        }
        @media (max-width: 767px) {
            background: fixed border-box url(/assets/images/fondo/BBGG.jpg) top 30% left 50%/cover;
        }
        @media (max-width: 370px) {
            background: fixed border-box url(/assets/images/fondo/BBGG.jpg) top 30% left 50%/cover;
        }
}
.contenedor {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 40px;

}
.hide {
    display: block;
    @media (max-width:900){
        display: none;
    }
}
// .show {
//     display: none;
//     @media (max-width:1600){
//         display: block;
//     }
// }