#dulces {
    background: fixed border-box url(/assets/images/fondo/BBGG.jpg) top 30% left 50%/cover;
    height: 100%;
    width: 100%;        
        @media (max-width: 900px) {
            background: fixed border-box url(/assets/images/fondo/BBGG.jpg) top 30% left 50%/cover;
        }
        @media (max-width: 767px) {
            background: fixed border-box url(/assets/images/fondo/BBGG.jpg) top 30% left 50%/cover;
        }
        @media (max-width: 370px) {
            background: fixed border-box url(/assets/images/fondo/BBGG.jpg) top 30% left 50%/cover;
        }
}
.contenedor {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 40px;
    
}
.hide {
    display: block;
    @media (max-width:1600){
        display: none;   
    }
}
// .show {
//     display: none;
//     @media (max-width:1600){
//         display: block;   
//     }
// }